DATABASE_URL="postgresql://postgres:password@localhost:5432/next-commerce?schema=public"
JWT_SECRET="your_jwt_secret_key"
SALT_ROUNDS=12

ADMIN_EMAIL="your_admin_email"
ADMIN_PASSWORD="your_admin_password"